---
import DatabaseLogger from "../components/DatabaseLogger.astro";
import DatabaseSummary from "../components/DatabaseSummary.astro";
import RestaurantCard from "../components/RestaurantCard.astro";
import Layout from "../layouts/Layout.astro";
import {
  createDatabaseLog,
  relateRestaurantData
} from "../lib/data-helpers";
import { getAllCollections } from "../lib/firebase-helpers";

// @ts-ignore
const { restaurants, categories, items, templates } = await getAllCollections();

const restaurantsWithData = relateRestaurantData(
  restaurants,
  categories,
  items,
  templates,
);

const dbLog = createDatabaseLog(
  restaurants,
  categories,
  items,
  templates,
  restaurantsWithData,
);
---

<Layout title="Menús">
  <h1>Menús de Restaurantes</h1>

  <DatabaseSummary
    restaurants={restaurants.length}
    categories={categories.length}
    items={items.length}
    templates={templates.length}
  />

  {
    restaurantsWithData.length > 0 ? (
      restaurantsWithData.map((restaurant) => (
        <RestaurantCard restaurant={restaurant} />
      ))
    ) : (
      <p>No hay restaurantes disponibles.</p>
    )
  }

  <DatabaseLogger dbLog={dbLog} show={false} />
</Layout>
